<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link),
    .terminal {
      width: 100%;
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    height="40"
    alt="Uhg Logo"
    src="https://www.uhc.com/content/dam/uhcdotcom/website-assets/logo-blue.svg"
  />

  <i class="fa fa-hourglass"></i>
</div>

<div class="content" role="main">
  <!-- Next Steps -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Filter Criteria</h5>
            <div id="basicFilters">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="selectLevel">Level</label>
                  <select
                    id="selectLevel"
                    class="selectpicker form-control"
                    multiple
                  >
                    <option>All</option>
                    <option selected>Error</option>
                    <option>Fatal</option>
                    <option>Information</option>
                    <option>Warning</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="selectPeriod">Period</label>
                  <select id="selectPeriod" class="selectpicker form-control">
                    <option>Today</option>
                    <option selected>1 day</option>
                    <option>3 days</option>
                    <option>1 week</option>
                    <option>1 month</option>
                    <option>6 months</option>
                    <option>Custom</option>
                  </select>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputFromDate">From</label>
                  <input
                    type="datetime-local"
                    id="inputFromDate"
                    class="form-control"
                    value="2020-11-01T10:30"
                    min="2017-01-01T00:00"
                    max="2021-06-01T00:00"
                  />
                </div>

                <div class="form-group col-md-6">
                  <label for="inputToDate">To</label>
                  <input
                    type="datetime-local"
                    id="inputToDate"
                    class="form-control"
                    value="2020-11-11T19:30"
                    min="2017-01-01T00:00"
                    max="2021-06-01T00:00"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m-3">
          <button type="submit" class="btn btn-primary">Search Logs</button>
          <button type="submit" class="ml-2 btn btn-outline-secondary">
            Reset Filters
          </button>
        </div>
      </div>
      <div class="col-sm-4">
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button
                  class="btn btn-link"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Additional Filters
                </button>
              </h5>
            </div>

            <div
              id="collapseOne"
              class="collapse"
              aria-labelledby="headingOne"
              data-parent="#accordion"
            >
              <div class="card-body">
                <div id="additionalFilters">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="selectApplication">Application</label>
                      <select
                        id="selectLevel"
                        class="selectpicker form-control"
                        multiple
                      >
                        <option selected>All</option>
                        <option>AllSavers</option>
                        <option>SAFES</option>
                        <option>AllSavers.API</option>
                        <option>AllSavers.Stepwise.Service</option>
                        <option>AllSavers.Document.Service</option>
                        <option>AllSavers.Group.Service</option>
                        <option>AllSavers.Product.Service</option>
                        <option>AllSavers.Rate.Service</option>
                        <option>AllSavers.Setting.Service</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputUserName">User Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="inputUserName"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputMachine">Machine</label>
                      <input
                        type="text"
                        class="form-control"
                        id="inputMachine"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputMessage">Message</label>
                    <input type="text" class="form-control" id="inputMessage" />
                  </div>
                  <div class="form-group">
                    <label for="inputException">Exception</label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputException"
                    />
                  </div>

                  <div class="form-row"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row mt-3">
      <table class="table table-sm table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Level</th>
            <th scope="col">ApplicationName</th>
            <th scope="col">Message</th>
            <th scope="col">Exception</th>

            <th scope="col">UserName</th>
            <th scope="col">MachineName</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">10763</th>
            <td>10/28/2020 6:27:14</td>
            <td>ERROR</td>
            <td>SAFES</td>
            <td>
              System.NullReferenceException: Object reference not set to an
              instance of an object.
            </td>
            <td>
              AllSavers.Core.Util.AllSaversException: The data reader is
              incompatible with the specified
            </td>
            <td>LT_encode11</td>
            <td>apves60310</td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td>10/6/2020 8:39:22</td>
            <td>ERROR</td>
            <td>AllSavers</td>
            <td>
              System.ArgumentException: The parameter 'addresses' cannot be an
              empty string.
            </td>
            <td>
              AllSavers.Core.Util.AllSaversException: Value cannot be null.
              Parameter name: source --->
            </td>
            <td>6610</td>
            <td>apves54225</td>
          </tr>
          <tr>
            <th scope="row">293596</th>
            <td>6/6/2020 23:24:08</td>
            <td>Information</td>
            <td>AllSavers.Group.Service</td>
            <td>COMPLETE STATUS:537</td>
            <td>NULL</td>
            <td>DMZMGMT\WEVES47816$</td>
            <td>WEVES47816</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>

      <div class="col-lg-6"></div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row text-center">
      <div class="col-sm-12"></div>
    </div>

    <div class="row text-center">
      <div class="col-sm-12">
        <span class="text-danger" id="result"></span>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer><span class="text-muted">&copy; All Savers 2020</span></footer>

  <svg
    id="clouds"
    alt="Gray Clouds Background"
    xmlns="http://www.w3.org/2000/svg"
    width="2611.084"
    height="485.677"
    viewBox="0 0 2611.084 485.677"
  >
    <path
      id="Path_39"
      data-name="Path 39"
      d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
      transform="translate(142.69 -634.312)"
      fill="#eee"
    />
  </svg>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
